<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <% if current_user %>
      <%= content_tag :li, class: "#{is_active?('pages', 'index')}" do %>
        <%= link_to "Feed", root_path %>
      <% end %>
      <%= content_tag :li, class: "#{is_active?('accounts')}" do %>
        <%= link_to accounts_path do %>
          <%= fa_icon('accounts') %>
          Cuentas vinculadas
        <% end %>
      <% end %>
      <li>
        <%= link_to pages_gatherer_path do %>
          Gatherer
        <% end %>
      </li>
      <li><%= link_to pages_facebook_path do %>
          Facebook
          <% end %></li>
      <li><%= link_to pages_twitter_path do %>
          Twitter
        <% end %></li>
    <% end %>
  </ul>
</div>
